
// Color scheme

$orange-neutral: #f1d098;
$orange: #f09f5e;
$blue-neutral: #d9d1bb;
$blue: #698c8c;

// Navigation colors

$top-color: $orange-neutral;
$right-color: $orange;
$bottom-color: $blue;
$left-color: $blue-neutral;