
#welcome-navigation {
	position: absolute;
	width: 150px;
	left: calc(50% - 75px);
	top:40%;
	text-align: center;

	a {
		text-decoration: none;
		display: block;
		margin-bottom: 20px;
	}
	a:hover {
		color: #444;
	}

	.top {
		color: $top-color;
	}
	.right {
		color: $right-color;
		float: right;
	}
	.bottom {
		color: $bottom-color;
		clear: both;
	}
	.left {
		color: $left-color;
		float: left;
	}
}